@model Composition
@{
    ViewData["Title"] = "SuccessfulCreate";
}

<h1>@Model.Name composition created successfully</h1>
<h3>
    This composition is empty.
    You can add a chapter now or later.
</h3>
<hr />

    <a asp-controller="Composition" asp-action="CreateChapter" asp-route-id="@Model.Id" type="submit" class="btn btn-success">Add chapter</a>

<div>
    <a href="/User/Index">Back to profile</a>
</div>



