@model Composition
@{
    ViewData["Title"] = "SuccessfulCreate";
}

<h1>@Model.Name composition created successfully</h1>
<h3>
    This composition is empty.
    You can add a chapter now or later.
</h3>
<hr />
<form method="post"   asp-action="CreateChapter" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-success">Add chapter</button>
</form>
<div>
    <a  href="/User/Index">Back to profile</a>
</div>


